  <div class="container mt-5">
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <h1 class="display-4 mb-4">Funerals</h1>

    <div id="funerals">
      <% @funerals.each do |funeral| %>
        <div class="card mb-3">
          <div class="card-body">
            <%= render funeral %>
            <p class="mt-2">
              <%= link_to "Show this funeral", funeral, class: "btn button-primary" %>
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="mt-4">
      <%= link_to "New funeral", new_funeral_path, class: "btn button-success" %>
    </div>
  </div>
