  <div class="container mt-5">

    <h1 class="display-4 mb-4">New Funeral</h1>

    <div class="mb-4">
      <%= render "form", funeral: @funeral, class: "mb-4" %>
    </div>

    <div>
      <%= link_to "Back to funerals", funerals_path, class: "btn btn-secondary" %>
    </div>

  </div>
