<div class="container mt-5">

  <h1 class="display-4 mb-4">Editing Funeral Service Order</h1>

  <div class="mb-4">
    <%= render "form", funeral_service_order: @funeral_service_order %>
  </div>

  <div class="mt-4">
    <%= link_to "Show this funeral service order", @funeral_service_order, class: "btn button-info me-3" %> |
    <%= link_to "Back to funeral service orders", funeral_service_orders_path, class: "btn button-secondary ml-3" %>
  </div>

</div>
