<div class="container mt-5">

  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <h1 class="display-4 mb-4">Funeral Service Orders</h1>

  <div id="funeral_service_orders">
    <% @funeral_service_orders.each do |funeral_service_order| %>
      <%= render funeral_service_order %>
      <p class="mb-3">
        <%= link_to "Show this funeral service order", funeral_service_order, class: "btn button-primary" %>
      </p>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to "New funeral service order", new_funeral_service_order_path, class: "btn button-success" %>
  </div>

</div>
