<h1>New funeral service order</h1>

<%= render "form", funeral_service_order: @funeral_service_order %>

<br>

<div>
  <%= link_to "Back to funeral service orders", funeral_service_orders_path %>
</div>
