<div class="card mb-4" id="<%= dom_id user %>">
  <div class="card-body">
    <h5 class="card-title">User ID: <%= user.id %></h5>
    <p class="card-text"><strong>User role:</strong> <%= user.user_role %></p>
    <p class="card-text"><strong>Email:</strong> <%= user.email %></p>
  </div>
</div>
