<div class="container mt-5">

  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <h1 class="display-4 mb-4">Users</h1>

  <div id="users">
    <% @users.each do |user| %>
      <%= render user %>
      <p class="mb-3">
        <%= link_to "Show this user", user, class: "btn button-primary" %>
      </p>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to "New user", new_user_path, class: "btn button-success" %>
  </div>

</div>
