<div class="container mt-5">
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <div class="jumbotron home-page">
      <h2>Welcome to Eternal Rest Funeral Services</h2>
      <p>
          Eternal Rest Funeral Services is a family-owned company with a legacy of compassion and care. We understand the importance of honoring the memory of loved ones and are dedicated to providing dignified and personalized funeral services. Our experienced team is here to guide you through this difficult time with sensitivity and respect.
      </p>
      
      <h3>Our Services</h3>
      <p>
          At Eternal Rest, we offer a wide range of services tailored to meet the diverse needs and wishes of the families we serve. Our services include:
      </p>
      <ul>
          <li><strong>Funeral Planning:</strong> Comprehensive funeral planning services, helping you organize a memorial that truly honors your loved one.</li>
          <li><strong>Cremation Services:</strong> Various options for cremation, including direct cremation and cremation with memorial service.</li>
          <li><strong>Burial Services:</strong> Traditional burial services that can be customized to reflect the personal wishes of the deceased and their family.</li>
          <li><strong>Grief Counseling:</strong> Offering support and counseling to help families cope with loss.</li>
          <li><strong>Pre-Planning:</strong> Pre-arrangement services to help individuals plan their own funeral in advance.</li>
      </ul>
    </div>
</div>
