<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Funeral Service Management</h1>
        <p class="lead">This is a simple web application to manage funeral services, mourning cards, and users.</p>
        <hr class="my-4">
        <p>Click the links in the navigation bar to explore the features.</p>
    </div>
</div>