<h1>Editing funeral service</h1>

<%= render "form", funeral_service: @funeral_service %>

<br>

<div>
  <%= link_to "Show this funeral service", @funeral_service %> |
  <%= link_to "Back to funeral services", funeral_services_path %>
</div>
