<div class="container mt-5">

  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <h1 class="display-4 mb-4">Funeral Services</h1>

  <div id="funeral_services">
    <% @funeral_services.each do |funeral_service| %>
      <%= render funeral_service %>
      <p class="mb-3">
        <%= link_to "Show this funeral service", funeral_service, class: "btn button-primary" %>
      </p>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to "New funeral service", new_funeral_service_path, class: "btn button-success" %>
  </div>

</div>
