<div class="card mb-4" id="<%= dom_id mourning_card %>">
  <div class="card-body">
    <p class="card-title">Card id: <%= mourning_card.id %></p>
    <p class="card-text"><strong>Funeral:</strong> <%= mourning_card.funeral_id %></p>
    <p class="card-text"><strong>Description:</strong> <%= mourning_card.description %></p>
  </div>
</div>
