<div id="<%= dom_id mourning_card %>">
  <p>
    <strong>Card:</strong>
    <%= mourning_card.card_id %>
  </p>

  <p>
    <strong>Funeral:</strong>
    <%= mourning_card.funeral_id %>
  </p>

</div>
