<h1>Editing mourning card</h1>

<%= render "form", mourning_card: @mourning_card %>

<br>

<div>
  <%= link_to "Show this mourning card", @mourning_card %> |
  <%= link_to "Back to mourning cards", mourning_cards_path %>
</div>
