<div class="container mt-5">

  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <h1 class="display-4 mb-4">Mourning Cards</h1>

  <div id="mourning_cards">
    <% @mourning_cards.each do |mourning_card| %>
      <%= render mourning_card %>
      <p class="mb-3">
        <%= link_to "Show this mourning card", mourning_card, class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to "New mourning card", new_mourning_card_path, class: "btn btn-success" %>
  </div>

</div>
