<div class="container mt-5">

  <h1 class="display-4 mb-4">New Mourning Card</h1>

  <div class="mb-4">
    <%= render "form", mourning_card: @mourning_card %>
  </div>

  <div class="mt-4">
    <%= link_to "Back to mourning cards", mourning_cards_path, class: "btn btn-secondary" %>
  </div>

</div>
