<div class="container mt-5">

  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <h1 class="display-4 mb-4">Deceased's</h1>

  <div id="deceaseds">
    <% @deceaseds.each do |deceased| %>
      <%= render deceased %>
      <p class="mb-3">
        <%= link_to "Show this deceased", deceased, class: "btn button-primary" %>
      </p>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to "New deceased", new_deceased_path, class: "btn button-success" %>
  </div>

</div>
