<div class="container mt-5">

  <h1 class="display-4 mb-4">New Deceased</h1>

  <div class="mb-4">
    <%= render "form", deceased: @deceased %>
  </div>

  <div class="mt-4">
    <%= link_to "Back to deceaseds", deceaseds_path, class: "btn btn-secondary" %>
  </div>

</div>
